{% extends "base.html" %}
{% block title %}Login | DietLens{% endblock %}

{% block content %}
<div class="container mt-5 p-5">
    <div class="row justify-content-center">
        <div class="col-md-10">


            <div class="card shadow-lg border-0 rounded-4 overflow-hidden">

                <div class="row g-0">

                    <!-- LEFT SIDE -->
                    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center p-5 bg-success"
                         style="color: white;">

                        <h2 class="mb-3 text-center">Welcome to DietLens</h2>

                        <p class="text-center mb-4" style="max-width: 350px;">
                            Track your diet, follow personalized meal plans, and achieve your health goals with ease.
                        </p>

                    </div>

                    <!-- RIGHT SIDE  -->
                    <div class="col-md-6 bg-white p-5">

                        <h3 class="text-center mb-4 text-success">Sign In</h3>

                        <form action="" method="post">
                            {% csrf_token %}

                            <!-- Username -->
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" name="username" class="form-control" placeholder="Enter Your Username">
                            </div>

                            <!-- Password -->
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                               <input type="password" name="password" class="form-control" placeholder="Enter Your Password">
                            </div>

                            <!-- Buttons -->
                            <div class="text-center mt-4">
                                <button type="submit" class="btn btn-outline-success rounded-pill px-4">
                                    Sign In
                                </button>

                                <a href="{% url 'home' %}" 
                                   class="btn btn-outline-success rounded-pill px-4 ms-2">
                                    Cancel
                                </a>
                            </div>

                        </form>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
{% endblock %}
