{% extends "base.html" %}
{% block title %} Add Food {% endblock %}

{% block content %}

<div class="container mt-5 p-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="card shadow-lg border-0 rounded-4">
                <div class="card-header bg-success text-white text-center py-3">
                    <h4>Add Food Details</h4>
                </div>

                <div class="card-body">

                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="mb-4">
                            {{ form.as_p }}
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn  btn-outline-success btn-md rounded-pill">
                                Upload Image
                            </button>
                            <a href="{% url 'detail_profile' %}" class="btn  btn-outline-success btn-md rounded-pill ms-2">
                                Cancel
                            </a>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}
